{% extends "base.html.twig"  %}

{% block body %}

	<div class='card col-lg-8 offset-lg-1 col-md-12 mt-5'>
		<div class='card-header'>
			<h3>Connexion</h3>
		</div>
		<div class='card-content'>
			<form action='{{path('security_connexion')}}' method='post'>
				<div class='form-group mt-4'>
					<input type='text' placeholder='Votre Email' required name='_username' class='form-control'></input>
			</div>


			<div class='form-group mt-4'>
				<input type='password' placeholder='Votre mot de passe' required name='_password' class='form-control'></input>
		</div>
	</div>

	<button type="submit" class="btn btn-success mt-4">Se Connecter</button>


</div></form></div>{% endblock %}
