{% extends "base.html.twig"  %}


{% block body %}

	<div class="col-lg-12  col-md-12">

		<div class="card-content mt-5 mb-
				    5">

			<p>Vous êtes amateur de snowboard et de freestyle?</p>
			<p>N'hésitez plus , inscrivez vous et venez partager vos envies en étant un acteur important de ce site.</p>
			<p>Vous pourez en effet ajouter , modifier ou supprimer des figures. De plus vous pourrez également laisser vos commentaires sur chaque figure.</p>
		</div>

	</div>

	
		
	

	<div class="col-lg-3 col-md-12">
		<div class="card   mt-4 mb-4">
			<section class="Figure">
				<div class="card-header">
					<h4>Titre de la figure</h4>
				</div>
				
					<div class="metadata">
						Ecrit le 06/08/21 à 19h00 dans la catégorie Politique
					</div>

					<div class="card-content">
						<p>Figure de snowboard
						</p>

					</div>
				

				<div class="card-footer">
					<a href="{{path('show_figure')}}" class="btn btn-secondary">
						Détail de la figure</a>
					<a href="{{path('update_figure')}}">
						<i class="far fa-edit  right"></i>
					</a>
					<a href="">
						<i class="far fa-trash-alt right"></i>
					</div>
				</div>

			</section>
		</div>
	</div>

{% endblock %}
