{% extends "base.html.twig" %}
{% block body %}
	<div class="card  mb-3 mt-5 ">
		<section class="Figure">
			<div class="card-header">
				<h2>Titre de la figure</h2>
				<div class="metadata">
					Ecrit le 06/08/21 à 19h00 dans la catégorie Politique
				</div>
			</div>
			<div class="card-content">
				<img src="http://placeholdit/350*150" alt="">
				<p>fnjozeifze,of,ezopjkezpeofkezopfezpfkekoerptokerpgokerogoer,gerfpk,gveropgjeropv,dpvkeovjerv,sdcopsdkvàeijdo;csd^;cdo$jvfdfldsczp</p>
				<p>jkfoezijfezfnzeofinzefe,dfoiefiofzejfopzef</p>
				<p>fnjozeifze,of,ezopjkezpeofkezopfezpfkekoerptokerpgokerogoer,gerfpk,gveropgjeropv,dpvkeovjerv,sdcopsdkvàeijdo;csd^;cdo$jvfdfldsczp</p>
				<p>jkfoezijfezfnzeofinzefe,dfoiefiofzejfopzef</p>
				<p>fnjozeifze,of,ezopjkezpeofkezopfezpfkekoerptokerpgokerogoer,gerfpk,gveropgjeropv,dpvkeovjerv,sdcopsdkvàeijdo;csd^;cdo$jvfdfldsczp</p>
				<p>jkfoezijfezfnzeofinzefe,dfoiefiofzejfopzef</p>
				<p>fnjozeifze,of,ezopjkezpeofkezopfezpfkekoerptokerpgokerogoer,gerfpk,gveropgjeropv,dpvkeovjerv,sdcopsdkvàeijdo;csd^;cdo$jvfdfldsczp</p>


			</div>


		</section>
	</div>


	<div class="col-lg-6 offset-lg-3 col-md-12">
		<div class="card mt-4 mb-4">

			<div class="card-header">

				<h2>
					Ajouter un commentaire</h2>
			</div>
			<form method="post" action="">
				<div class="card-content">

					<div class="col-12">


						<fieldset>
							<legend></legend>
							<input type="hidden" name="id" value="<?= $post->id ?>">


							<label for="nom">Commentaire</label>
							<textarea rows="5" class="form-control" name="comment" id="comment"></textarea>
						</fieldset>
					</div>


				</div>


				<div class="card-footer col-12">
					<input type="submit" class="btn btn-primary col-12" value="Envoyer">
				</div>
			</form>
		</div>
	</div>
	<div class="col-lg-6 offset-lg-3 col-md-12">
		<div class="card  mt-5">
			<div class="card-header">


				<h3>
					Commentaire
				</h3>

			</div>
			<div class="card-content">


				<div class="comment mb-4">
					<div class="col-lg-12 col-12">


						<div class="auteur">
							Yoann

						</div>
						<div class="date">14/08/2021</div>


						<div class="content col-12 mt-4">Contenu de commentaire
						</div>
						<div class="button col-2 offset-lg-10"></div>


					</div>

				</div>


			</div>
		</div>
	</div>
{% endblock %}
