{% extends "base.html.twig" %}

{% block title %}Page non trouvé
{% endblock %}
{% block body %}
	<div class='card col-lg-8 offset-lg-1 col-md-12 mt-5'>
		<h1>Page non trouvée</h1>
	</div>
	<p>La page que vous cherchez n'a pas été trouvée.</p>

	<p>Code de l'erreur:
		{{ status_code }}</p>
	<p>Message de l'erreur:
		{{status_text}}</p>

	<img src='Image/chute.jpg' class="card-img-top" alt="">
{% endblock %}
