<div class="col">
	<div class="name text-right">
		<a href="{{path('update_imagealaune', {'id':picture.id})}}">
			<i class="far fa-edit right" width='250' height='250'></i>
		</a>
		<a href="{{path('delete_imagealaune', {'id':picture.id})}}">
			<i class="far fa-trash-alt right" width='250' height='250'></i>
		</a>
		<a name="tricks"></a>
	</div>
</div>
